.gradle/
build/
libs/
.DS_Store
_site/
.sass-cache/
bin
*.class
hs_err_pid*
_site
.DS_Store
docs/_site
.idea
log/
.classpath
.project
.settings/

keystore.jks
server.cert
solace-ep-eclipse-plugin-site/plugins/*
solace-ep-eclipse-plugin-site/features/*
solace-ep-eclipse-plugin-site/content.jar
solace-ep-eclipse-plugin-site/artifacts.jar
solace-ep-eclipse-plugin-site/index.html
solace-ep-eclipse-plugin-site/web/*
