.gradle/
build/
libs/
.DS_Store
_site/
.sass-cache/
.classpath
.project
.settings/
/bin/
*.class
hs_err_pid*
_site
.DS_Store
docs/_site
.idea
log/

keystore.jks
server.cert
solace-ep-eclipse-plugin-site/plugins/*
solace-ep-eclipse-plugin-site/features/*
solace-ep-eclipse-plugin-site/content.jar
solace-ep-eclipse-plugin-site/artifacts.jar
