<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="solace.eventportal.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
    </extension>

    <!--extension
            point="org.eclipse.e4.ui.css.swt.theme">
   	    <stylesheet
                uri="aaron.css">
            <themeid
                    refid="org.eclipse.e4.ui.css.theme.e4_dark">
            </themeid>
        </stylesheet>
    </extension-->
   
   <!--menuContribution
      allPopups="true"
      locationURI="toolbar:asher.views.id.SampleView?after=additions">
            <command
                  commandId="asher.commands.unparseCommand"
                  icon="icons/daffodil.png"
                  id="asher.menus.unparseCommand"
                  mnemonic="S"
                  tooltip="Unparse">
            </command>
     </menuContribution-->
   
   

</plugin>
